<div class="invoice-paper">

    <div class="invoice-header">

        <div class="invoice-title">
            <h1 id="p-type">INVOICE</h1>
        </div>

        <div class="company-details">
            <h2>Chris Murphy</h2>

            <div class="compact-lines" contenteditable="true">
                <div>42 Mount Road</div>
                <div>Thatcham, Berkshire</div>
                <div>RG18 4LA</div>
            </div>

            <div class="compact-lines" contenteditable="true">
                <div>Mob: 07900 808868</div>
                <div>Tel: 01635 866592</div>
                <div>Email: chrismurphy0203@gmail.com</div>
            </div>
        </div>
    </div>

    <div class="invoice-top">

        <div class="customer-details">
            <h3>TO</h3>

            <div class="customer-card" contenteditable="true">

                <p id="p-customer" data-placeholder="Customer Name"></p>
                <p id="p-address" data-placeholder="Customer Address"></p>

            </div>
        </div>

        <div class="invoice-meta">

            <div class="meta-row">
                <span>Date: </span>
                <strong id="p-date" contenteditable="true"></strong>
            </div>

            <div class="meta-row">
                <span>Reference: </span>
                <strong id="p-ref" contenteditable="true" data-placeholder=" Reference..."></strong>
            </div>

        </div>
    </div>

    <div class="job-section">
        <h3>DESCRIPTION</h3>

        <div class="job-box">
            <p id="p-job" contenteditable="true" data-placeholder="Enter job details here..."></p>
        </div>
    </div>

    <div class="payment-section" id="paymentSection">
        <h3>BACS PAYMENT DETAILS</h3>
        <div class="compact-lines">
            <div>Account Name: <span id="accName" contenteditable="true">Mr C Murphy</span></div>
            <div>Account Number: <span id="accNumber" contenteditable="true">80507730</span></div>
            <div>Sort Code: <span id="sortCode" contenteditable="true">09-01-27</span></div>
        </div>
    </div>

    <div class="footer" contenteditable="true">
        Payment Terms Strictly 14 Days From Invoice Date
    </div>
</div>