<div class="sheet job-sheet-paper">

    <div class="box">

        <h3 class="job-sheet-title">Job Data Sheet</h3>

        <table id="jobTable">
            <colgroup>
                <col class="col-jobno">
                <col class="col-customer">
                <col class="col-amount">
                <col class="col-date">
                <col class="col-paid">
                <col class="col-desc">
            </colgroup>
            <thead>
                <tr>
                    <th>Job No.</th>
                    <th>Customer</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Paid</th>
                    <th>Job Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td contenteditable="true"></td>
                    <td id="p-customer" class="job-customer" data-placeholder="Customer Name" contenteditable="true"></td>
                    <td contenteditable="true"><span class="currency">£</span> </td>
                    <td contenteditable="true"></td>
                    <td class="paid-cell unpaid" title="Click to mark paid">🔴</td>
                    <td contenteditable="true"></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
