<div class="sheet">

    <div class="box">

        <h3 class="timesheet-title">TIME SHEET</h3>

        <p class="timesheet-customer-line">
            <span class="timesheet-customer-label">Customer:</span>
            <span id="p-timesheet-customer" class="timesheet-customer-name"></span>
        </p>

        <table id="timeTable">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description of Work</th>
                    <th>Hours</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td contenteditable="true"></td>
                    <td contenteditable="true"></td>
                    <td contenteditable="true"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" class="timesheet-total-label"><strong>Total Hours</strong></td>
                    <td id="totalHours">0</td>
                </tr>
            </tfoot>
        </table>

    </div>

</div>
